streamlit
langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
langchain-google-genai
langchain-text-splitters
faiss-cpu
duckduckgo-search
pypdf
langchain-huggingface
sentence-transformers
protobuf>=5.27.0